/* Color Variables */
:root {
    --bg-light: rgba(75, 75, 75, 1);
    --bg-dark: rgba(20, 20, 20, 1);
    --bg-medium-dark: rgba(40, 40, 40, 1);
    --bg-light-dark: rgba(60, 60, 60, 1);
    --text-primary: #ccc;
    --text-secondary: #909090;
    --accent-color: #00B8DB;
    --accent-color-light: #00e5ff;
    --accent-color-dark: #007A8C;
    --border-color-light: rgba(80, 80, 80, 1);
    --bg-hover: rgba(60, 60, 60, 1);
    --bg-dark-navy: #111827;
    
    --neo-shadow-light: rgba(60, 60, 60, 0.4);
    --neo-shadow-dark: rgba(0, 0, 0, 0.7);
}
/* Font Variables */
:root {
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Geist', sans-serif;
    --font-size-base: 1rem;
    --font-size-small: 0.8rem;
    --font-size-large: 25px;
    --font-weight-bold: bold;
}
/* Layout Variables */
:root {
    --sidenav-width-closed: 5rem;
    --sidenav-width-open: 16rem;
    --header-height: 5rem;
    --filter-options-panel-height: calc(100vh - var(--header-height) - var(--spacing-small) * 2);
    --spacing-small: 0.25rem;
    --spacing-medium: 0.5rem;
    --spacing-large: 1rem;
    --border-radius-small: 1rem;
    --border-radius-medium: 2rem;
    --border-radius-large: 3rem;
    --transition-duration-fast: 0.1s;
    --transition-duration-medium: 0.3s;
    --transition-duration-slow: 0.5s;
}
/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.neo-container {
    background: var(--bg-dark); /* Same as the body background */
    border-radius: 24px;
    box-shadow: 4px 4px 8px var(--neo-shadow-dark), -4px -4px 8px var(--neo-shadow-light);
    border: none;
}
.glass-container {
    /* Frosted glass effect */
    background: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 24px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
}