<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>{% block title %}{% endblock %}</title>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
</style>
</head>
<body>
    {% block body %}{% endblock %}
    <script src="C:\Users\zhans\Desktop\projects\odyssey\JeruiqAPI\static\app.js"></script>
</body>
</html>