{% extends "base.html" %}

{% block title %}Profile - {{ user.full_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="container">
        <div class="navbar-logo">
            <a class="logo" href="/">Jeruyıq</a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/tours">Tours</a>
            <a href="/properties">Properties</a>
            <a href="/attractions">Attractions</a>
        </nav>
        <div class="auth-buttons">
            <button class="signout-btn" id="logout-button">
                <img src="{{ url_for('static', filename='images/icons/logout-icon.png') }}" alt="Logout Icon">
                <p>Log Out</p>
            </button>
        </div>
    </div>
</header>

<div class="main-container">
    <div class="sidebar">
        <div class="profile-card">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/chillguy.jpg') }}" alt="Profile Picture">
            </div>
            <div class="profile-name">
                {{ user.first_name }} {{ user.last_name }}
            </div>
            <div class="profile-email">
                {{ user.email }}
            </div>
        </div>
    </div>

    <div class="main-content">

        <div class="profile-navigation">
            <button class="active">Overview</button>
            <button>Messages</button>
            <button class="">Edit Profile</button>
        </div>

        <div class="info-grid">
            <div class="info-card">
                <h3>Location</h3>
                <p><strong style="font-size: 1.5rem;">Astana, Kazakhstan</strong></p>
            </div>

            <div class="info-card">
                <h3>Birthday</h3>
                <p><strong style="color: #9C1DE7; font-size: 2rem;">December 28</strong></p>
                <p>1 day until birthday</p>
            </div>

            <div class="info-card">
                <h3>Interests</h3>
                <ul class="interests-list">
                    <li>Reading</li>
                    <li>Drawing</li>
                    <li>Gym</li>
                </ul>
            </div>

            <div class="info-card">
                <h3>Tags</h3>
                <ul class="tags-list">
                    <li>Отец основатель</li>
                    <li>Гений</li>
                    <li>Миллиардер</li>
                </ul>
            </div>

            <div class="info-card info-card-large">
                <h3>About me</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
